@import url("https://fonts.googleapis.com/css2? family= Inconsolata:peso@800 &family= Nanum+Gothic & family= Roboto+Condensed:wght@300 & display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header__cabeza {
  height: 25px; }

.header {
  background-color: #ffff12; }
  .header__logo {
    text-align: center; }
    .header__logo img {
      width: 5rem; }
  .header__search {
    align-self: center; }
    .header__search input.src {
      padding: 0.9rem 1rem 0.9rem 3.2rem;
      outline: none;
      border-radius: 1.5rem;
      color: black;
      border: 0.3rem solid black;
      background: white url(../imagenes/search-icon.jpg) no-repeat 0.9rem center;
      width: 45rem;
      height: 3rem; }
  .header__shop {
    width: 5%;
    align-self: center; }

.navbar__title {
  font-family: Inconsolata;
  -webkit-text-stroke: thin; }

.navbar__items {
  font-variant: petite-caps;
  max-width: max-content; }

.navbar a:hover {
  color: #ffff12;
  transform: scale(1.1);
  transition: ease-in-out .1s; }

.encabezado {
  background-image: url(../imagenes/background-fuego.jpg); }
  .encabezado__subtitle {
    text-decoration: none;
    font-size: 2rem;
    color: #ffffffbd;
    font-family: fantasy;
    margin: 0.5rem; }

.carousel-inner img {
  max-width: 40rem; }

.carousel-inner .carousel-item {
  text-align: -webkit-center; }

.carousel-inner .hoodie {
  height: 35rem; }

/*scss de produtos*/
.img-stock {
  max-width: 10rem;
  max-height: 10rem; }

.footer__propiedades {
  bottom: 0; }

.footer {
  height: 6rem; }
  .footer__iconos a {
    text-decoration: none;
    font-size: 2rem;
    color: #e7e5e5cf;
    margin: 1rem; }
  .footer__iconos a i:hover {
    transition: ease-in-out .1s; }

.pie {
  height: 3.5rem; }
  .pie__items {
    font-size: 1rem;
    text-decoration: none;
    color: #e7e5e5cf;
    padding-right: 1rem; }
  .pie__items:hover, .footer__iconos a i:hover, .anchor-contacto:hover {
    color: #ffff12;
    transform: scale(1.1); }

.anchor-contacto {
  color: #e7e5e5cf;
  margin: 1rem;
  text-decoration: none;
  font-size: 2rem; }

.anchor-contacto:hover {
  transition: ease-in-out .1s; }

/*medias queries*/
@media screen and (max-width: 768px) {
  input.src {
    display: none; }
  .logo {
    text-align: center; } }
