@import url('https://fonts.googleapis.com/css2? family= Inconsolata:peso@800 &family= Nanum+Gothic & family= Roboto+Condensed:wght@300 & display=swap');
*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}
/*header*/
.bg-yellow {
    background-color: yellow }
.h25{
    height: 25px;}
.col-xl-3 { text-align: right;}
.col-xl-3 img{width: 5rem;  }

input.src{
    padding: 0.9rem 1rem 0.9rem 3.2rem;
    outline: none;
    border-radius: 1.5rem;
    color: black;
    border: 0.3rem solid black;
    background:white  url(../imagenes/search-icon.png) no-repeat 0.9rem center ;
    width: 30rem;
    height: 3rem;
}
.col-xl-8 { align-self: center;    text-align: -webkit-center;}
.col-xl-1 {width: 5%; align-self: center;}
.petite {     font-variant: petite-caps; max-width: max-content;}
.title { font-family: Inconsolata;     -webkit-text-stroke: thin;}
nav a:hover{
    color: yellow;
    transform: scale(1.1);
    transition: ease-in-out .1s; 
}
/*main*/
.fire {background-image: url(../imagenes/background-fuego.png);  }
.subtitle {font-size: 2rem; color: #ffffffbd; font-family: fantasy; margin: 0.5rem;   }
.carousel-inner img {max-width: 40rem;  }
.carousel-item {     text-align: -webkit-center;}
.hoodie { height: 35rem;}
/*footer*/
.footer { height: 6rem;}
.iconos a { 
    text-decoration: none;
    color: white;
    margin: 1rem;
    font-size: 2rem;
  }
  .iconos a i:hover{
    color:yellow;
    transform: scale(1.1);
    transition: ease-in-out .1s;  
}
.pie {
    height: 2rem;
}
.pie a {
    font-size: 1rem;
    text-decoration: none;
    color: white;
    padding-right: 1rem;
}
.pie a:hover{
    color: yellow;
    transform: scale(1.1);
}
/*main productos*/
.img-stock {
    max-width: 10rem;
}
/*contacto*/
.anchor-contacto {
    text-decoration: none;
    color: white;
    margin: 1rem;
    font-size: 2rem;
}
.anchor-contacto:hover{
    color:yellow;
    transform: scale(1.1);
    transition: ease-in-out .1s;  
}

/*medias queries*/
@media screen and (max-width:768px){
input.src{
     width: 10rem;}
    .logo{text-align: center;}
}

