.fire {background-image: url(../imagenes/background-fuego.png);  }
.subtitle {font-size: 2rem; color: #ffffffbd; font-family: fantasy; margin: 0.5rem;   }
.carousel-inner img {max-width: 40rem;  }
.carousel-item {     text-align: -webkit-center;}
.hoodie { height: 35rem;}
/*scss de produtos*/
.img-stock {
    max-width: 10rem;
}