
.encabezado {background-image: url(../imagenes/background-fuego.jpg); 
    &__subtitle {
        @include items
        color: map-get($colores,"blancohumo"); 
        font-family: fantasy; 
        margin: 0.5rem;   }
 }
 .carousel-inner{ 
     & img {max-width: 40rem;  }
     .carousel-item {   
          text-align: 
        -webkit-center;}
    .hoodie { max-height: 40rem;}
 }
/*scss de produtos*/
.img-stock {
     max-height: 10rem;
}