.footer__propiedades {bottom: 0;}
.footer { height: 6rem;
    &__iconos a { 
        @include items
        color: map-get($colores,"blanco");
        margin: 1rem;
    }
    &__iconos a i:hover{
     @extend .pie__items:hover;
      transition: ease-in-out .1s;  
  }
}
.pie {
    height: 3.5rem;
    &__items {
        font-size: 1rem;
        text-decoration: none;
        color: map-get($colores,"blanco");
        padding-right: 1rem;
    }
    &__items:hover{
        color: map-get($colores,"bg-yellow");
        transform: scale(1.1);
    }
}